* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #d11418;
    color: #d8a445;
    font-family: 'Open Sans', sans-serif;
}

.grid-container {
    min-width: 60%;
    height: 450px;
    background-color: #bcbdc7;
    border-radius: 12px;
}

h1 {
    font-family: 'Qwigley', sans-serif;
    letter-spacing: .25rem;
    font-size: 5rem;
}

h1 span {
    font-family: 'Open Sans';
    font-size: 1.15rem;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    overflow: hidden;
}

.cell {
    background-color: #b1b2bb;
}

.colored-cell {
    background-color: #000000;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: white;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .erase {
    width: max-content;
}

.dial {
    height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 50%;
}